* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Franchise";
  src: url("fonts/Franchise-Free-Bold.otf") format("opentype");
}

@font-face {
  font-family: "roboto";
  src: url("fonts/roboto.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "openSans";
  src: url("fonts/openSans.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Pilowlava";
  src: url("../fonts/Pilowlava-Regular.otf") format("opentype");
}
body {
  background-color: #f1efe9;
}
html,
body,
main {
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
}
::-moz-selection {
  color: rgba(255, 255, 255, 0.6);
  background: rgba(0, 0, 0, 0.6);
  mix-blend-mode: difference;
}

::selection {
  color: rgba(255, 255, 255, 0.6);
  background: rgba(0, 0, 0, 0.6);
  mix-blend-mode: difference;
}
#cursor {
  position: fixed;
  top: -5px;
  left: -5px;
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
  pointer-events: none;
  z-index: 999;
}

#cursor-border {
  --size: 30px;
  position: fixed;
  top: calc(var(--size) / -2);
  left: calc(var(--size) / -2);
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  box-shadow: 0 0 0 1px white;
  pointer-events: none;
  transition: top 0.15s ease-out, left 0.15s ease-out, width 0.15s ease-out,
    height 0.15s ease-out, background-color 0.15s ease-out;
  z-index: 999;
}
@media only screen and (max-width: 768px) {
  #cursor,
  #cursor-border {
    display: none;
  }
}

/* #mySVG {
  overflow: hidden;
  position: absolute;
  top: 200vh;
  width: 99vw;
  height: 200vh;
  z-index: 99;
  mix-blend-mode: difference;
  color: black;
  filter: invert(100%);
  pointer-events: none;
} */

section {
  position: relative;
  height: 100vh;
}

.container2 {
  height: 100%;
  width: 100vw;
  display: flex;
  overflow: hidden;
  position: relative;
}
.spotifyMusicCoverP {
  height: fit-content;
  width: fit-content;
  margin: 5vmax;
  top: 20%;
  font-size: clamp(10rem, 20vw, 15rem);
  font-family: "franchise";
  color: rgb(26, 26, 26);
  line-height: 0.7;

  transition: 0.5s ease;
}
