.contactSection {
    /* Positioning */
    position: relative;
  
    /* Box Model */
    width: 100%;
  
    /* Display */
    color: #d4d4d4;
    overflow: hidden;
  }
  
  #contactImage {
    /* Display */
    text-align: center;
  }
  
  #contactImage > img {
    /* Box Model */
    height: 18vmax;
    object-fit: cover;
  }
  
  .contactSecTop {
    /* Box Model */
    padding: 5vw;
  
    /* Display */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .contactSecTop > div {
    /* Box Model */
    padding-top: 10px;
    width: 30%;
  }
  
  .contactSecLinks > p {
    /* Display */
    font-family: "GTWalsheimPro", Arial, sans-serif;
    text-transform: uppercase;
    padding-bottom: 15px;
  }
  
  .contactSecLinks > a {
    /* Display */
    font-family: "openSans", Arial, sans-serif;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: #d4d4d4;
    font-size: 1rem;
    padding: 5px;
  }
  
  .contactSecLinks > a:hover {
    /* Display */
    background-color: gray;
  }
  
  .MovingTextContainer {
    /* Display */
    display: flex;
    align-items: center;
  }
  
  .MovingTextSingle {
    /* Display */
    position: relative;
    white-space: nowrap;
    will-change: transform;
  }
  
  .MovingTexttext {
    /* Display */
    font-size: clamp(5rem, 9vw, 100rem);
    display: inline-block;
    font-family: 'Manrope', sans-serif;
  }
  
  .LinkToAboutMe {
    /* Display */
    font-family: "openSans", Arial, sans-serif;
    padding-left: 5vw;
  }
  
  .LinkToAboutMe > span {
    /* Display */
    text-decoration: underline;
  }
  
  @media only screen and (max-width: 768px) {
    #contactImage > img {
      /* Box Model */
      width: 100%;
    }
    
    .contactSecTop > div {
      /* Box Model */
      width: 100%;
    }
  }
  