#SecProjectsAnimation {
  /* Positioning */
  position: relative;
  z-index: 12;
  overflow: hidden;
}

#SecProjects {
  /* Box Model */
  width: auto;
  box-sizing: border-box;
  border-radius: 1vmax;
  margin: 60px 3vmin 0 3vmin;

  /* Parent Layout */
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  /* Display */
  background-color: #0c0c0c;
  color: #efe1d1;
}

#SecProjectsText {
  /* Box Model */
  width: 100%;
  padding: 5vw 5vw 0 5vw;

  /* Display */
  font-family: "GTWalsheimPro", Arial, sans-serif;
  font-size: clamp(1.5rem, 2vw, 100rem);
  font-style: italic;
  white-space: nowrap;
  text-transform: uppercase;
}

#ProjectsBoxy {
  /* Positioning */
  position: relative;
  margin: 1vw 1vw 3vw 1vw;
}

#ProjectsBoxy > a > img {
  /* Box Model */
  width: 35vmax;
  height: auto;

  border-radius: 1vmax;

  /* Display */
  object-fit: cover;
  transition: 0.2s ease;
  user-select: none;
}

#ProjectsBoxy > a > img:hover {
  /* Box Model */
  border-radius: 0;
  filter: brightness(0.7);
  scale: 1.02;
}

#ProjectsSoon {
  /* Positioning */
  overflow: hidden;
  padding: 0 1vw 3vw 1vw;
  position: relative;
}

#ProjectsSoon > img {
  /* Box Model */
  width: 35vmax;
  border-radius: 1vmax;

  /* Display */
  object-fit: cover;
  filter: blur(8px) hue-rotate(180deg);
  pointer-events: none;
}

@media only screen and (max-width: 768px) {
  #SecProjects {
    /* Parent Layout */
    flex-direction: row;
  }
  #ProjectsBoxy > a > img {
    /* Box Model */
    width: 100%;
  }
  #ProjectsSoon > img {
    /* Box Model */
    width: 100%;
  }
}

#ProjectsSoon > p {
  /* Positioning */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* Display */
  font-family: "GTWalsheimPro", Arial, sans-serif;
  font-size: clamp(1.5rem, 3vw, 100rem);
  font-style: italic;
  line-height: 0.8;
  text-transform: uppercase;
}
