.maxContentSection {
  height: max-content !important;
}
.section3 {

  height: max-content;
  width: 100%;
  background-color: black;
  font-family: "franchise";
  white-space: nowrap;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

  padding: 10vh 0;
  color: rgb(255, 255, 255);

  overflow: hidden;
}

#relativeDivSectwo {
  height: 100%;
  width: 100%;
}
#imgCity {
  position: absolute;
  bottom: 0;
  right: 0%;
  height: 90%;
  object-fit: fill;
  transition: 0.2s ease;
}
#imgSkelete {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 30%;
  mix-blend-mode: difference;
  filter: invert(0%);
}
#AgeInfoDiv {
  z-index: 1;
}
#ageText {
  text-align: start;
  font-size: clamp(0.8rem, 6vw, 2rem);
  text-shadow: 1px 1px rgba(255, 255, 255, 0.5), 2px 2px rgba(0, 0, 0, 0.5),
    3px 3px rgba(0, 0, 0, 0.52), 4px 4px rgba(0, 0, 0, 0.53),
    5px 5px rgba(0, 0, 0, 0.54);
}
#ageInYears {
  text-align: center;
  line-height: 0.7;
  letter-spacing: -0.04em;
  font-size: clamp(3rem, 15vw, 8rem);
  text-shadow: 1px 1px rgba(255, 255, 255, 0.5), 2px 2px rgba(0, 0, 0, 0.5),
    3px 3px rgba(0, 0, 0, 0.52), 4px 4px rgba(0, 0, 0, 0.53),
    5px 5px rgba(0, 0, 0, 0.54), 6px 6px rgba(0, 0, 0, 0.55),
    7px 7px rgba(24, 24, 24, 0.56), 8px 8px rgba(24, 24, 24, 1),
    9px 9px rgba(255, 255, 255, 0.58);
}
#ageInSeconds {
  text-align: end;
  font-size: clamp(0.8rem, 5vw, 2rem);
  text-shadow: 1px 1px rgba(255, 255, 255, 0.5), 2px 2px rgba(0, 0, 0, 0.5),
    3px 3px rgba(0, 0, 0, 0.52), 4px 4px rgba(0, 0, 0, 0.53),
    5px 5px rgba(0, 0, 0, 0.54);
}
