.ag-format-container {
  width: 100vw;
  height: 100vh;

  background-image: url("../images/noise.gif");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;

  z-index: -5;
}
.ag-courses_box {
  padding-top: 5vh;
  width: 95%;
  max-width: 700px;
  z-index: 5;

  position: absolute;
  top: 0%;
}
.ag-courses_item {
  overflow: hidden;
  border-radius: 28px;
}
.ag-courses-item_link {
  font-family: "roboto";
  display: flex;
  flex-direction: column;
  padding: 30px 20px;
  background-color: #121212;
  position: relative;
}
.ag-courses-item_link:hover,
.ag-courses-item_link:hover .ag-courses-item_date {
  text-decoration: none;
  color: #fff;
}
.ag-courses-item_link:hover .ag-courses-item_bg {
  transform: scale(18);
}
.ag-courses-item_title {
  min-height: 87px;

  overflow: hidden;

  font-size: 50px;
  font-family: "Franchise";
  color: #fff;

  z-index: 2;
  position: relative;
}
.ag-courses-item_date-box {
  font-size: 18px;
  color: #fff;

  z-index: 2;
  position: relative;
  display: flex;
  flex-direction: column;
}
.ag-courses-item_date {
  margin-top: 30px;
  color: #fff;
  align-self: flex-end;
  transition: color 0.5s ease;
}
.ag-courses-item_bg {
  height: 128px;
  width: 128px;
  background-color: #f9b234;

  z-index: 1;
  position: absolute;
  top: -75px;
  right: -75px;

  border-radius: 50%;

  transition: all 0.5s ease;
}
.header2Flasher {
  height: 100px;
  width: 100%;
  position: relative;
}
.header2Flasher > img {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0%;
  left: 0%;

  object-fit: cover;
}
.header2Flasher > img:nth-child(2) {
  animation: changeOpacity 0.2s infinite linear;
}

@keyframes changeOpacity {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
.LSD-mode {
  height: max-content;
  width: 100%;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;

  z-index: 6;
}
.LSD-mode > img {
  pointer-events: none;
  width: 30%;
  height: 300px;

  object-fit: contain;
  transition: 0.5s ease;
}
@keyframes roboAnimation {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: -180px 0px;
  }
}
