.section4{
    width: 100vw;
    height: fit-content;

    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: black;

    padding: 6vh 5vw;

}
#section4Texts{
    text-align: left;
    color: rgb(255, 255, 255);
    font-family: "Franchise";
    font-size: clamp(2rem, 6vw, 2.5rem);
    text-decoration: none;

    text-transform: uppercase;
    text-shadow: -2px 4px 4px #292929;

    white-space: nowrap;
    letter-spacing: -0.05em;

    padding: 2vh 1.5vw; 
    transition: 0.2s ease;
    z-index: 6;
}
#section4Texts:hover{
    scale: 1.1;
}



